body {
  font-family: Arial;
  text-align: center;
  background-color: #f5f5f5;
}

.zone {
  margin: 20px;
}

.slots {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.slot {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  line-height: 80px;
  color: white;
  font-weight: bold;
}

.available {
  background-color: green;
}

.occupied {
  background-color: red;
}

button {
  padding: 10px 20px;
  font-size: 16px;
}
